<div class="row row-cols-2">
    {% for product in products %}
    <div class="col-6 col-md-4">
        <div class="d-flex justify-content-between">
            <a class="text-dark" href="{% url 'product' product.id %}">
                <img class="bd-placeholder-img rounded" src="{{ product.image.url }}" width="180" height="240">
                <div>
                    <h4 class="card-title">{{ product.price }} ₽</h4>
                    <p class="card-text">{{ product.name|truncatechars:35 }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<br>