{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
{% include 'notification.html' %}
<h1 class="display-4 text-center">Изменить пароль</h1>
<div class="col-sm-4 my-3 mx-auto p-3 px-md-4 mb-3 bg-white rounded shadow">
    <p>Используйте форму ниже, чтобы изменить свой пароль.</p>
    <form method="POST">{% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-outline-primary btn-sm btn-block" type="submit">Изменить</button>
    </form>
</div>
{% endblock %}