{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<h5>Персональные данные</h5>
<ul>
    <li>Имя: {{ user.get_full_name }}</li>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
</ul>
<hr>
{% if request.user.id == user.id %}
<a href="{% url 'password_change' %}">Сменить пароль</a>
{% endif %}
{% include 'includes/products_template.html' %}
{% endblock %}