{% extends 'base.html' %}
{% block title %} {{ product }} в интернет-магазине e-shop.ru {% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category' product.category.id %}">{{ product.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product }}</li>
    </ol>
</nav>
{% include 'notification.html' %}
<p>
    <h1>{{ product }}</h1>
</p>
<div class="row">
    {% if product.image %}
    <div class="col-lg-5 col-md-6">
        <img src="{{ product.image.url }}" width="100%" class="rounded-lg border-left-0">
    </div>
    {% endif %}
    <div class="col">
        <h2>{{ product.price }} ₽</h2>
        <button type="button" class="btn btn-primary btn-lg">Добавить в корзину</button>
    </div>
</div>
<br>

{% if product.description %}
<h1>Описание</h1>
<p>{{ product.description|linebreaks }}</p>
{% else %}
<big>Нет описания</big>
{% endif %}
{% if product.bought > 0 %}
Купили {{ product.bought }} раз
{% endif %}
<p>
    <a class="p-2 text-info" href="{% url 'profile' product.user.id %}">{{ product.user }}</a>
</p>
{% if request.user.is_authenticated and request.user == product.user %}
<a href="{% url 'product-edit' product.id %}">
    <p><button class='btn btn-outline-dark'>&#926 Редактировать товар</button></p>
</a>
<a href="{% url 'product-delete' product.id %}">
    <p><button class='btn btn-outline-danger'>&#926 Удалить</button></p>
</a>
{% endif %}
{% endblock %}