@media (min-width: 992px) {
	.dropdown .dropdown-menu:after {
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}

	.dropdown-menu .dropdown {
		margin-left: 0;
		margin-right: 0;
	}

	.dropdown-menu li {
		position: relative;
	}

	.dropdown .dropdown-menu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}

	.dropdown-menu>li:hover {
		background-color: #f1f1f1
	}
	
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}
